.cherrys-text-primary {
  text-align:center;
  font-weight:bold;
  font-size:xx-large;
  
}
.main-image{
  margin-left:40%;
}
body { 
	color:black;
  //background-color:green;
  background: rgba(203,96,179,1);
  background: -moz-linear-gradient(left, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 1%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(203,96,179,1)), color-stop(1%, rgba(193,70,161,1)), color-stop(51%, rgba(168,0,119,1)), color-stop(100%, rgba(219,54,164,1)));
  background: -webkit-linear-gradient(left, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 1%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
  background: -o-linear-gradient(left, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 1%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
  background: -ms-linear-gradient(left, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 1%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
  background: linear-gradient(to right, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 1%, rgba(168,0,119,1) 51%, rgba(219,54,164,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4', GradientType=1 );
}

h1 {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 23px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
h3 {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}
p {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
blockquote {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
pre {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}

h1 {
  color:black;
  margin-left:2%;
}